In [3]:
#DIA 1
### Temario
- Tipos de Datos
- Operaciones Matemáticas
- Operaciones con String
- Operaciones Lógicas
- Operaciones Booleanas

SyntaxError: invalid syntax (ipython-input-875643391.py, line 3)

In [7]:
# Tipos de Datos
###Existen datos:
enteros = 4 #números sin decimales
flotantes = 3.9 #números con decimales
###Caracteres/string
caracteres = "a"
cadena_caracteres = "Hola" #todas las letras que quieras"
###Booleanas
falso = False #falso = 0
verdadero = True #verdadero = 1
###Imprimir
print(enteros)
###El usuario también puede ingresar cualquier tipo de dato
###y podemos guardarlo en alguna variable
name = input("Mi nombre es:") #te lo guarda como un string
print(name)
num = int(input("Ingresa un numero:"))
print(num + 1)

4
Mi nombre es:Cynthia
Cynthia
Ingresa un numero:4
5

In [10]:
#Operaciones Matemáticas
##4to Nivel de Importancia
###Suma ordinaria
print(3+4) #un 7
variable1, variable2 = 20,40
print(variable1+variable2) #un 60
###Resta ordinaria
print(2-5)
#Declaración de variables
v1= 10.4
v2 = 15
resultado = v2-v1
print(resultado)

7
60
-3
4.6

In [13]:
##3er Nivel de Importancia
###Multiplicación ordinaria
print("Multiplicación ordinaria:")
M1,M2=2,3.14
print(M1*M2)
###División ordinaria
print("División ordinaria:")
M1,M2,M3,M4,M5,M6 =2,5,6,5,4,5
print(M1/M2)
print(M3/M4)
print(M5/M6)
###División de Piso
###Redondea al entero abajo siempre
print("División de Piso:")
print(M1//M2)
print(M3//M4)
print(M5//M6)

Multiplicación ordinaria:
6.28
División ordinaria:
0.4
1.2
0.8
División de Piso:
0
1
0

In [16]:
##2do Nivel de importancia
###Potencias
print("Potencia")
print(2**3) #8
P1, P2 = 7,2
print(P1**P2)
###Área de un círculo
print("Área de un círculo")
pi=3.14
r=4
A=pi*(r**2)
print(A)

Potencia
8
49
Área de un círculo
50.24

In [18]:
##Operaciones String
HM = "Hola Mundo"
print(HM)
a, b = "ta","co"
print(a+b)
print(a+" "+b)

Hola Mundo
taco
ta co

In [20]:
###Animal, debe tener un nombre, le debe gustar una fruta, debe tener una profesión
Animal="Chango"
Nombre ="Filomeno"
Fruta = "Manzana"
Profesión = "Ingeniero"
print(f"Hola soy {Nombre} y soy un {Animal}, me gusta la {Fruta} y soy {Profesión}")

Hola soy Filomeno y soy un Chango, me gusta la Manzana y soy Ingeniero

In [23]:
#Operaciones Lógicas
###Empezamos con operadores lógicos <,>,<=,>0, and (&), or (|) (siempre retorna un booleano)
b1=4>5
b2=7>3
b3=14>14
b4=14>=14
print(b1,b2,b3,b4)
#Quieres un sandwich con todo
pan=True
queso=True
mayonesa=True
jamón=False
print(pan and queso and mayonesa and jamón)

False True False True
False